Link to the paper: https://www.e3s-conferences.org/articles/e3sconf/pdf/2020/74/e3sconf_ebldm2020_02042.pdf

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from xgboost import XGBClassifier

In [3]:
!pwd

/content

In [4]:
dataset = pd.read_csv('drive/MyDrive/Colab Notebooks/creditcard.csv')

In [5]:
dataset.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [6]:
dataset.drop(['Time'], axis=1, inplace=True)

In [7]:
X = dataset.drop(['Class'], axis=1).values
y = dataset['Class'].values

In [8]:
X.shape, y.shape

((284807, 29), (284807,))

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9)

In [10]:
xgb = XGBClassifier(n_estimators=5000, learning_rate=0.01, subsample=0.8, max_depth=15, colsample_bytree=0.8, tree_method='gpu_hist')

In [11]:
xgb.fit(X_train, y_train)

XGBClassifier(colsample_bytree=0.8, learning_rate=0.01, max_depth=15,
              n_estimators=5000, subsample=0.8, tree_method='gpu_hist')

In [12]:
y_predicted = xgb.predict(X_test)

In [13]:
print(classification_report(y_predicted, y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     28438
           1       0.74      0.91      0.81        43

    accuracy                           1.00     28481
   macro avg       0.87      0.95      0.91     28481
weighted avg       1.00      1.00      1.00     28481

In [14]:
print(accuracy_score(y_predicted, y_test))

0.9993679997191109

In [16]:
tn, fp, fn, tp = confusion_matrix(y_test, y_predicted).ravel()
print(tn, fp)
print(fn, tp)

28424 4
14 39